body{
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

.container{
    max-width: 1316px;
    margin: 0 auto;
    padding: 10px;
}

/* navbar */

.navbar{
    width: 100%;
    height: auto;
    padding: 31px 25px 43px 25px;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-left{
    flex-grow: 1;
}

.navbar ul{
    display: flex;
}

.navbar-item{
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    font-family: 'Libre Baskerville', serif;
    padding-left: 31px;
}

.navbar-input{
    background: url(../images/search.svg);
    background-repeat: no-repeat;
    background-position: right 18px center;
    width: 303px;
    height: 46px;
    border: 2px solid #1C1C1C;
    border-radius: 10px;
    padding: 12px 0;
    padding-right: 18px;
    padding-left: 18px;
    border: 0px;
    padding-right: 60px;
}

.navbar-btn{
    width: 135px;
    border: 2px solid #1C1C1C;
    border-radius: 10px;
    background-color: #ffffff;
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    height: 46px;
}

.navbar-right > .navbar-item {
    display: flex;
    align-items: center;
}

/* media nav */

.header-btn_media {
    height: 40px;
    /* border: 2px solid #000000; */
    cursor: pointer;
    display: none;
    flex-direction: column;
}

.header-btn_media div {
    width: 26px;
    height: 2px;
    background-color: #000000;
    margin: 7px; 
}

.mobile-nav{
    position: fixed;
    top: 127px;
    width: 90%;
    height: 100%;
    background-color: #ffffff;
    z-index: 100;
    right: 0;
    transition: all 0.3s;
}

.mobile-nav-items{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 90px;
}

.mobile-nav-items li{
    padding-bottom: 15px;
}

.mobile-nav-input{
    background-position: left  center;
}

.hidden{
    transform: translate(100%);
}

.no-scroll{
    overflow: hidden;
}

/* post */

.post{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 592px;
    position: relative;
}


.post-content{
    background-color: #ffffff;
    max-width: 509px;
    padding: 76px 40px 96px 39px;
}

.post-left{
    left: 45px;
    position: absolute;
}

.post-tag{
    font-size: 20px;
    line-height: 27px;
    text-transform: uppercase;
}

.post-title{
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    font-size: 33px;
    line-height: 41px;
    margin-bottom: 12px;
}

.post-meta{
    line-height: 22px;
    color: rgba(28, 28, 28, 0.5);    
}

.post-meta:not(:last-child){
    padding-right: 22px;
}

.post-meta__content{
    position: relative;
}

.post-meta__content::before{
    position: absolute;
    content: ".";
    bottom: 5px;
    left: -13px;
}

.post-text{
    line-height: 24px;
    margin-top: 14px;
}


.post-main-title{
    font-weight: 700;
    font-size: 42px;
    line-height: 57px;
    text-align: center;
    color: #1C1C1C;
    margin-top: 50px;
    margin-bottom: 17px;
}

.hr-line{
    border: 2px solid #000000;
    width: 190px;
    margin: 0 auto;
    margin-bottom: 54px;
    background-color: #000000;

}

.post-item{
    display: flex;
    max-width: 906px;
    margin-bottom: 63px;
    padding: 0;
}

.post-info{
    margin-left: 50px;
}

.post-items{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-right{
    top: 54px;
    right: 78px;
    position: absolute;
}

/* tags */
.post-items-buttom{
    align-items: baseline;
}

.wrapper{
    margin-top: 103px;
    display: flex;
    justify-content: center;
}

.tags{
    margin-left: 103px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tags-title{
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #1C1C1C;
    margin-bottom: 3px;
}

.tags-nav{
    flex-grow: 1;
}

.tags-items{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    padding-bottom: 50px;
}