@media (max-width: 1250px) {
   .link{
    font-size: 18px;
   }

   .btn-img{
    width: 140px;
    }
}

@media (max-width: 1150px) {
    .link{
     font-size: 16px;
    }

    .btn-img{
        width: 130px;
    }
 }

 @media (max-width: 1150px) {
    .link{
     font-size: 14px;
    }

    .btn-img{
        width: 120px;
    }
 }

 @media (max-width: 900px) {
    .link{
        display: none;
    }
 }

@media (max-width: 750px) {
    .post-content {
        max-width: 552px;
    }

    .post-link {
        font-size: 32px;
        line-height: 40px;
        
    }

    .about-author-wrapper {
        flex-direction: column;
    }

    .about-author-img{
        text-align: center;
        margin-top: 10px;
        margin-bottom: 30px;
        width: none;
    }

    .about-author-title{
        font-size: 28px;
    }

    .btn-img{
        width: 100px;
    }
}

@media (max-width: 650px){
    .post-meta-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .about-author-img{
        width: 160px;
    }
}

@media (max-width: 550px) {
   
    .post-link {
        font-size: 22px;
        line-height: 30px;
    }

    .about{
        font-size: 18px;
    }

    .about-author-img{
        text-align: center;
        margin-top: 10px;
        margin-bottom: 30px;
        width: none;
    }

    .about-author-title{
        font-size: 22px;
    }

    .btn-img{
        width: 80px;
    }
}

@media (max-width: 450px) {
   
    .post-link {
        font-size: 18px;
    }

    .about{
        font-size: 16px;
    }

    .about-author-img{
        margin-top: 5px;
        margin-bottom: 20px;
    }

    .about-author-title{
        font-size: 18px;
    }

    .btn-img{
        width: 50px;
    }
}
