/* .post{
    position: static;
} */

.post{
    margin-bottom: 54px;
}

.post-link{
    font-family: 'Libre Baskerville';
    font-weight: 700;
    font-size: 42px;
    line-height: 52px;
    display: block;
    text-align: center;
    margin-bottom: 17px;
}

.post-content {
    max-width: 652px;
    padding: 0px;
    margin: 0 auto;
    position: static;
}

.post-meta-wrapper{
    text-align: center;
}

.post-tags-items{
    display: flex;
    font-size: 16px;
    line-height: 22px;
    color: rgba(28, 28, 28, 0.5);
    justify-content: center;
    margin-top: 13px;
    margin-bottom: 26px;
}

/* footer */

.footer-wrapper{
    position: relative;
}

.next-btn{
    position: absolute;
    right: 0;
}

.back-btn{
    position: absolute;
    left: 0;
}